<p id="notice"><%= notice %></p>

<p>
  <b>Id time:</b>
  <%= @classificacao.id_time %>
</p>

<p>
  <b>Pontos:</b>
  <%= @classificacao.pontos %>
</p>

<p>
  <b>Jogos:</b>
  <%= @classificacao.jogos %>
</p>

<p>
  <b>Vitorias:</b>
  <%= @classificacao.vitorias %>
</p>

<p>
  <b>Empates:</b>
  <%= @classificacao.empates %>
</p>

<p>
  <b>Derrotas:</b>
  <%= @classificacao.derrotas %>
</p>

<p>
  <b>Gols:</b>
  <%= @classificacao.gols %>
</p>

<p>
  <b>Golscontra:</b>
  <%= @classificacao.golscontra %>
</p>

<p>
  <b>Saldogols:</b>
  <%= @classificacao.saldogols %>
</p>


<%= link_to 'Edit', edit_classificacao_path(@classificacao) %> |
<%= link_to 'Back', classificacaos_path %>
