<h1>Bolão Brasileirão ONLINE!</h1>
<p><%= link_to "Partidas", "/jogos" %></p>
<p><%= link_to "Classificação", "/classificacaos" %></p>
<p><%= link_to "Times", "/clubes" %></p>
<p><%= link_to "Palpites", "/palpites" %></p>
<p><%= link_to "Usuarios", "/usuarios" %></p>