<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_usuario %><br />
    <%= f.number_field :id_usuario %>
  </div>
  <div class="field">
    <%= f.label :nome_usuario %><br />
    <%= f.text_field :nome_usuario %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :nome_completo %><br />
    <%= f.text_field :nome_completo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
